@{
    ViewBag.Title = "Shipping";
}

<div class="row">
    <div class="col-md-11">
        @using (Html.BeginForm("ShippingActions", "Shipping", null, FormMethod.Post, new { @class = "form-horizontal", id = "GiftCardForm" }))
        {
            <div class="row" style="width:100%;float:left;">
                <div class="col-md-11" id="divData">
                    <p>@ViewBag.Message</p>
                </div>
            </div>

            <hr />
                <div>
                    <p class="headingStyle" style="font-size:large;">Get Shipping Charges</p>
                </div>
            <hr />

            <div class="row">
                <div class="col-md-6 form-group">
                    <label class="control-label col-md-4 small ">Shipping Method:</label>
                    <div class="col-md-8 paddingLeftRight0">
                        @Html.TextBox("shippingmethod", null, new { id = "shippingmethod", Class = "form-control" })
                        eg. Express
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <label class="control-label col-md-4 small ">Products:</label>
                    <div class="col-md-8 paddingLeftRight0">
                        @Html.TextBox("order", null, new { id = "order", Class = "form-control" })
                        eg. [{"Product":"81121", "Quantity":3}]
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <label class="control-label col-md-4 small ">Postal Code:</label>
                    <div class="col-md-8 paddingLeftRight0">
                        @Html.TextBox("postalcode", null, new { id = "postalcode", Class = "form-control" })
                        eg. 12345
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <label class="control-label col-md-4 small ">Country Code:</label>
                    <div class="col-md-8 paddingLeftRight0">
                        @Html.TextBox("countrycode", null, new { id = "countrycode", Class = "form-control" })
                        eg. US
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <label class="control-label col-md-4 small ">Address 1:</label>
                    <div class="col-md-8 paddingLeftRight0">
                        @Html.TextBox("address1", null, new { id = "address1", Class = "form-control" })
                        eg. Schenectady, NY 12345
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <label class="control-label col-md-4 small ">Address 2:</label>
                    <div class="col-md-8 paddingLeftRight0">
                        @Html.TextBox("address2", null, new { id = "address2", Class = "form-control" })
                    </div>
                </div>
            </div>
            <br />
            <div class="row" style="float: right">
                <div>
                    <input type="submit" class="btn btn-success col-md-push-2" value="Get Shipping Charges" id="getShippingCharges" name="command">
                </div>
            </div>

            <div class="row" style="width:100%;float:left;">
                <hr />
                <h3>Output Result:</h3>
                <hr />
                <div class="col-md-11" id="divData">
                    <p>@ViewBag.Result</p>
                </div>
            </div>

        }
    </div>
</div>
