@{
    ViewBag.Title = "GiftCard";
}

<div class="row">
    <div class="col-md-11">
        @using (Html.BeginForm("GiftCardActions", "GiftCard", null, FormMethod.Post, new { @class = "form-horizontal", id = "GiftCardForm" }))
        {
            <div class="row" style="width:100%;float:left;">
                <div class="col-md-11" id="divData">
                    <p>@ViewBag.Message</p>
                </div>
            </div>

            <hr />
                <div>
                    <p class="headingStyle" style="font-size:large;">Gift Card</p>
                </div>
            <hr />

            <div class="row">
                <div class="col-md-6 form-group">
                    <label class="control-label col-md-4 small ">Gift Card ID:</label>
                    <div class="col-md-8 paddingLeftRight0">
                        @Html.TextBox("giftcardid", null, new { id = "giftcardid", Class = "form-control" })
                        eg. GC100100786
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <label class="control-label col-md-4 small ">Balance:</label>
                    <div class="col-md-8 paddingLeftRight0">
                        @Html.TextBox("balance", null, new { id = "balance", Class = "form-control", Value = ViewBag.balance, @readonly = "readonly" })
                    </div>
                </div>
            </div>
            <br />
            <div class="row" style="float: right">
                <div>
                    <input type="submit" class="btn btn-success col-md-push-2" value="Get Gift Card Balance" id="getbalance" name="command">

                    <input type="submit" class="btn btn-success col-md-push-2" value="Lock Gift Card" id="lockgiftcard" name="command">

                    <input type="submit" class="btn btn-success col-md-push-2" value="Unlock Gift Card" id="unlockgiftcard" name="command">
                </div>
            </div>

            <br />
            <br />
            <br />

            <hr />
                <div>
                    <p class="headingStyle" style="font-size:large;">Issue/Pay Gift Card</p>
                </div>
            <hr />

            <div class="row">
                <div class="col-md-6 form-group">
                    <label class="control-label col-md-4 small ">Gift Card ID:</label>
                    <div class="col-md-8 paddingLeftRight0">
                        @Html.TextBox("giftcardidtoprocess", null, new { id = "giftcardidtoprocess", Class = "form-control" })
                        eg. GC100100786
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <label class="control-label col-md-4 small ">Amount:</label>
                    <div class="col-md-8 paddingLeftRight0">
                        @Html.TextBox("amount", null, new { id = "amount", Class = "form-control" })
                        eg. 1000
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <label class="control-label col-md-4 small ">Currency Code:</label>
                    <div class="col-md-8 paddingLeftRight0">
                        @Html.TextBox("depositcurrencycode", null, new { id = "depositcurrencycode", Class = "form-control" })
                        eg. USD
                    </div>
                </div>
            </div>
            <br />
            <div class="row" style="float: right">
                <div>
                    <input type="submit" class="btn btn-success col-md-push-2" value="Issue Gift Card" id="issueGiftCard" name="command">
                    <input type="submit" class="btn btn-success col-md-push-2" value="Pay Gift Card" id="payGiftCard" name="command">
                </div>
            </div>

        }
    </div>
</div>
